footer.brand-footer-contact {
    position:relative; 
    top:0;
    left:0;
    width:90vw;
    max-width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:no-wrap;
    justify-content: space-evenly;
    align-items: center;
    height:15vw;
    max-height:15vw;
    text-align:center;
    margin:0 auto;
    transform:translate(0, -30%);
    }

.time-clock, .quotes {
    width:12vw;
    height:7.5vw;
     border:0.2vw inset #72ffde;
    border-radius:0.5vw;
    z-index:5;
    position:relative;
}
.time-clock {
    order: 3;
    top:8%;
    left:0%;
    background-image:linear-gradient(to top, rgba(255,98,111, 0.2), rgba(98,255,229, 0.2), rgba(187,255,98, 0.2));
   
}
.quotes {
    
    order: 1;
    top:8%;
    right:0%;
    background-image:linear-gradient(to bottom, rgba(255,98,111, 0.2), rgba(98,255,229, 0.2), rgba(187,255,98, 0.2));
   
}

header.socmed-list-title h1 {
	color:#fff;
	margin-bottom:0.625vw;
    text-align:center;
    width:inherit;
    max-width:100%;
}


.soc-med-list {
	margin: 5vw auto;
    width:60vw;
    max-width:100%;
    height:auto;
    position:relative;
    background-image:url("../imgs/social_Media_Influencers_BackgroundImage_41O.jpg");
    background-position:top;
    background-repeat:no-repeat;
    background-clip: padding-box;
    order:2;
      
 }

header.footer-socmed-title {
    /* border: 0.2em solid #eee;
    background-color:#7d7db3; */
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    box-shadow:0 0 0 0.2vw #eeeeee;
    height:inherit;
    }

h1.footer-socmed-title::after {
    content:"Social Media Influencers";
    -webkit-text-fill-color:#9ed5f0;
    -webkit-text-stroke:0.05vw #2c4ef5;
    font-weight:700;
}

header.socmed-list-title h1 {
	color:#fff;
	margin-bottom:0.625vw;
    text-align:center;
    width:inherit;
    max-width:100%;
}

header.socmed-list-title {
    position:relative;
    width:90vw;
    max-width:100%;
    max-height:10vw;
    text-align:center;
    margin:0 auto;
    }

header.socmed-list-title {border-radius: 0.5vw 0.5vw 0 0;}

/* Tab Content */

.accordion {
	/* background-color:#afaae0; */
	width:100%;
	min-width:47vw;
	display:block;
	list-style-type:none;
	overflow:hidden;
	height:10vw;
    font-size:0;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
    padding-left:.5%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-image: url("../imgs/social_Media_Influencers_BackgroundImage_accordion_41O.jpg");
    background-clip: padding-box;

}

.accordion > .soc-med > .youtube ~ .soc-med-inf p {
    background-image:url('../images/traverseyMedia_logo.jpg');
    background-repeat:repeat;
    background-position:center;
    background-size:100% 100%;
}
.soc-med {
	display:inline-block;
    background-color:#f2ccad;
    -webkit-text-fill-color:#e3c19d;
    -webkit-text-stroke:0.05vw #a85b12;
	border-right:#333 solid 0.1vw;
	width:5vw;
	height:10vw;
	overflow:hidden;
	position:relative;
	margin:0;
	transition: all 0.5s ease-in-out 0.1s;
}

.soc-med:hover {
	width:28.125vw;
}

.soc-med:hover .social a:before {
	margin-left:-6.25vw;
}


.soc-med:hover .social a:after {
	margin-left:-.3125vw;
}

.soc-med .soc-med-inf {
	background-color:#fff;
	width:22.5vw;
	height:12.5vw;
	margin-left:5vw;
	position:relative;
	padding:2.5vw 0 0 .9375vw;
}

.soc-med .soc-med-inf h1 {
    font-size:1.2vw;
    line-height:1.4vw;
	margin-bottom:.625vw;
}

.soc-med .soc-med-inf p {
	font-size:1vw;
	line-height:1.4vw;
	padding-right:1.875vw;
}

/* Tab Genericons CSS */

.social a:before,
.social a:after {
	
	height:12.5vw;
	position:absolute;
	text-indent:0;
	padding-top:4vw;
	padding-left:1.5625vw;
	display:block;
	font-family:"Genericons";
	font-size:1.875vw;
    color:#fff;
    
}

.social a:after {
    width:6.8vw;
	font-size:3vw;
	padding-left:1.25vw;
	padding-top:5vw;
    margin-left:5.3125vw;
    transform:translate(-20%, -11%);
}

.social a:before {
    width:4vw;
    transform:translate(-20%, 0%);
    -webkit-text-fill-color:#e3c19d;
    -webkit-text-stroke:0.05vw #a85b12;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #e3830d);
    
}

.youtube a:before,
.youtube a:after {
    content:'\f213';
    
}

.youtube a:after {
	background-color:#ff0000;
}
.youtube a:hover:after {
    content:"\f213";
    -webkit-text-fill-color:#d15547;
    -webkit-text-stroke:0.05vw #cc190c;
    background-color:#edbdbb;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
  
}


.twitter a:before,
.twitter a:after {
	content:'\f202';
}

.twitter a:after {
	background-color:#6dc5dd;
}
.twitter a:hover:after {
    content:"\f202";
    -webkit-text-fill-color:#049fff;
    -webkit-text-stroke:0.05vw #091df0;
    background-color:#baeaff;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
  
}

.facebook a:before,
.facebook a:after {
	content:'\f204';
}

.facebook a:after {
	background-color:#3b5998;
}

.facebook a:hover:after {
    content:"\f204";
    background-color:#56bde6;
    -webkit-text-fill-color:#19ebdd;
    -webkit-text-stroke:0.05vwd#1748e8;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
  
}
.linkedin a:before,
.linkedin a:after {
	content:'\f208';
}

.linkedin a:after {
	background-color:#00a9cd;
}

.linkedin a:hover:after {
    content:"\f208";
    -webkit-text-fill-color:#0d84a8;
    -webkit-text-stroke:0.05vw #9009ab;
    background-color:#16e0ff;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
  
}

.instagram a:before,
.instagram a:after {
	content:'\f215';
}

.instagram a:after {
	background-color:#6dc993;
}

.instagram a:hover:after {
    content:"\f215";
    -webkit-text-fill-color:#a30822;
    -webkit-text-stroke:0.05vw #d96d2a;
    background-color:#f2b3be;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
   }

.github a:before,
.github a:after {
	content:'\f200';
}

.github a:after {
	background-color:#6e5494;
}

.github a:hover:after {
    content:"\f200";
    -webkit-text-fill-color:#740eb8;
    -webkit-text-stroke:0.05vw #091df0;
    background-color:#e1c6f7;
    filter:drop-shadow(-0.5vw -0.5vw -0.5vw #9812ad);
   }

/* End Genericons CSS */