

.container-wrapper {
    position:relative;
    width:100%;
    height:100%;
    }
 
.hidden-nav {
    position:absolute;
    z-index:10;
    top:1em;
    left:1em;
    transition:all 1000ms ease-in;
    }

.bar {
    position:relative;
    background-color:#d320d9;
    width:100%;
    height:20%;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #fff);
    }


.hidden-nav > .hamB:hover,
.hidden-nav > .hamB > .bar:hover,
.hidden-nav > .hamB > .barA:hover {
    transition: all 500ms ease-in;
    background-color:#4398ed;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #38f091);
    
}

.hidden-nav > #hamB2 > .barA:hover{
    background-color:#f55535;
}

.hidden-nav > #hamB2:hover { 
    background-color:#35f5af;
    transform: rotateZ(-180deg);
}

.hidden-nav > #hamB1:hover {
    background-color:#f59445;
    transform: rotateZ(180deg);
}

.barA {
    position:relative;
    background-color:#1fcbff;
    width:100%;
    height:20%;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #a91fff);
    }  

#bar-1 {
    border: 0.05vw solid #000;
    border-top-left-radius:0.4vw;
    border-top-right-radius:0.4vw;
    }

#bar-2 {
    border: 0.05vw solid #000;
    }

#bar-3 {
    border: 0.05vw solid #000;
    border-bottom-left-radius:0.4vw;
    border-bottom-right-radius:0.4vw;
    }

.hamB{
    flex-direction:column;
    justify-content:space-evenly;
    width:2.5rem;
    height:2.5rem;
    font-size:4em;
    border-radius:0.5rem;
    }

#hamB1 {
    display:flex;
    text-shadow:0 0 0.2vw #ffffcc, 0 0 0.2vw #7d7dcc,0 0 0.2vw #000033;
    }

#hamB2 {
    display:none;
    text-shadow:0 0 0.2vw #ff621f, 0 0 0.2vw #ffd21f,0 0 0.2vw #a91fff;
    }

.hidden-nav:hover {
    transform:rotate(180deg);
    cursor:pointer;
   }

header, footer, .container {
    position:relative;
    max-width:100%;
    }

header, footer {
    max-height:8vw;
    }
    
header {border-radius: 0.5vw 0.5vw 0 0;}
footer {border-radius: 0 0 0.5vw 0.5vw;}

header {text-align:center;}

.hdr-title {
    position:relative;
    font-size: 2em;
    font-weight:700;
    line-height:2em;
    font-family:righteous, sans-serif;
    letter-spacing:0.1vw;
    color:rgba(0,0,0, 0.8);
    text-shadow:0 0.035vw 0.05vw #ffffcc, 0 0.035vw 0.05vw #7d7dcc,0 0.035vw 0.05vw #000033;
    transform:translateY(-10%);
    }

.hdr-title::after {
    content:"dashWoorkz IT";
    -webkit-text-fill-color:#9ed5f0;
    -webkit-text-stroke:0.05vw #2c4ef5;
    }

.container {
    height:84vw;
    }

.content-container {
    position:relative;
    min-width:75%;
    max-width: 100%;
    height:43vh;
    }

.content-brand {
    position:absolute;
    top:0;
    right:0;
    min-width:18.75vw;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
   }

.content-billboard {
    position:absolute;
    top:0;
    left:0;
    min-width:71.25vw;
    max-width:inherit;
    }

.content-brand, .content-billboard, footer, header {
    /* border: 0.2em solid #eee;
    background-color:#7d7db3; */
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    box-shadow:0 0 0 0.2vw #eeeeee;
    height:inherit;
    }

.content {
    position:relative;
    display:block;
    max-width:100%;
    height:43vh;
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    /* border: 0.2em solid #ddd;
    background-color:#7d7db3; */
    box-shadow:0 0 0 0.2vw #eeeeee;
    }

#content-box-1 {
    display:block;
    }

#content-box-2 {
    display:none;
    }

#content-box-3 {
    display:none;
    }

#content-box-4 {
    display:none;
    }

aside#navHide {
    position:relative;
    display:none;
    max-width:400px;
    height:100%;
    margin-left:-400px;
    max-height:85.5%;
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    /* border: 0.2em solid #eee;
    background-color:#8fcfe6; */
    box-shadow:0 0 0 0.2vw #eeeeee;
    z-index:10;
    }

    @keyframes entry {

        0% {
            height:0px;
        }

        25% {
            height:25%;
        }

        50% {
            height:50%;
        }

        75% {
            height:75%;
        }

        100% {
            height:100%;
        }
    }

    @keyframes fade1 {

        0% {
            height:0100%;
        }

        25% {
            height:75%;
        }

        50% {
            height:50%;
        }

        75% {
            height:25%;
        }

        100% {
            height:0px;
        }
    }


div, nav {
    position:relative;
    max-width:100%;
    }

nav {
    position:relative;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:0 auto;
    }

.side-nav {
    top:1.65em;
    }

.hdr-nav {
    transform:translateY(-50%);
    }

.nav-btn, .side-nav-btn {
    min-width:5em;
    max-width:100%;
    min-height:2rem;
    max-height:4rem;
    border: 0.2em solid #9ed5f0;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    /* border: 0.2rem outset #ddd;
    background-color:#ffeeee; */
    box-shadow:0 0 0 0.2rem #282bf2;
    padding:0.1rem;
    -webkit-text-fill-color:#9ed5f0;
    -webkit-text-stroke:0.05vw #2c4ef5;
    }

.side-nav > .side-nav-btn:hover {
    transition: all 1000ms ease-in;
    transform: rotateZ(360deg);
    background-color:#4398ed;
    border: 0.2rem inset #38f091;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #29acf2);
    color:#f5a148;
    }

.hdr-nav > .nav-btn:hover {
    transition: all 1000ms ease-in;
    transform: rotateZ(360deg) scaleX(0.8);
    background-color:#4398ed;
    border: 0.2rem inset #38f091;
    filter:drop-shadow(0.08rem 0.08rem 0.08rem #f535b8);
    color:#f5a148;
    }

.nav-btn {
    color:#4c4a4d;
    font-size:1.2rem;
    font-weight:700;
    letter-spacing:0.1rem;
    padding:0.2vw;
    /* text-shadow:0 0.025rem 0.025rem #222f3d, 0 0.025rem 0.025rem #5c7282, 0 0.025rem 0.025rem #a1bcc9; */
    }

.side-nav-btn {
    border-radius:0.4rem;
    color:#2f6ba8;
    font-size:1rem;
    font-weight:700;
    letter-spacing:0.05rem;
    letter-spacing:0.1rem;
    padding:0.2vw;
    /* text-shadow:0 0.025rem 0.025rem #bdb948, 0 0.025rem 0.025rem #8f6889, 0 0.025rem 0.025rem #184457; */
    }

.hdr-nav #btn-1::before {
    content:"Home";
    }

.hdr-nav #btn-2::before {
    content:"Products";
    }

.hdr-nav #btn-3::before {
    content:"Services";
    }

.hdr-nav #btn-4::before {
    content:"About";
    }

.aside-nav #side-btn-1:before {
    content:"Contact";
    }

.aside-nav #side-btn-2:before {
    content:"Specials";
    }

.aside-nav #side-btn-3:before {
    content:"Events";
    }

.aside-nav #side-btn-4:before {
    content:"Staff";
    }

    /* Specials Content */

    .service {
    animation:expose 2000ms ease;
    animation-fill-mode:forwards;
    }

.events-list {
    position:relative;
    width:20rem;
    max-width:100%;
    height:30vw;
    max-height:100%;
    padding:1vw;
    display:none;
    justify-content:center;
    text-align:center;
    transform:translateY(17.5%);
    margin:0 auto;
    opacity:0;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}

.staff-list {
    position:relative;
    width:20rem;
    max-width:100%;
    height:30vw;
    max-height:100%;
    padding:1vw;
    display:none;
    justify-content:center;
    text-align:center;
    transform:translateY(17.5%);
    margin:0 auto;
    opacity:0;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}

 .current-events {
    position:relative;
    text-align:center;
    padding:12px;
    margin-bottom:6px;
    height:60px;
    width:200px;
}
 .current-events:before {
    content:'';
    position:absolute;
    
    left:0;
    height:100%;
    width:51%;
    transform:skew(0deg, 6deg);
}


.current-events:after {
    content:'';
    position:absolute;
    right:0;
    height:100%;
    width:50%;
    transform:skew(0deg, -6deg);
}
/* .lead-staff:before {
    background-color:#29f56a;
    top:3rem;
} */
.current-events:before { top:0;background-color:#f7af4b;}
{
    background-color:#29f56a;
    top:3rem;
}
.current-events:after { top:0;background-color:#f7af4b;}

.current {
    position:relative;
    text-align:center;
    align-content:center;
    padding:12px;
    margin:0 auto;
    height:80px;
    width:240px;
    animation:spinRight 5000ms 2500ms infinite ease ;
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.current:before {
    content:'DNS Registration $19.99/YR';
    position:absolute;
    top:0vw;
    left:0vw;
    height:100%;
    width:51%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    background-color:#ffb726;
    transform:skew(0deg, 6deg);
}

.current:after {
    content:'Web Hosting As Low As $4/Mth';
    position:absolute;
    top:0vw;
    right:0vw;
    height:100%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    width:50%;
    background-color:#1f93f2;
    transform:skew(0deg, -6deg);
}
.current1 {
    position:relative;
    top:14px;
    text-align:center;
    padding:12px;
    margin:0 auto;
    height:80px;
    width:240px;
    animation:spinLeft 6000ms infinite ease ;
    animation-direction:reverse; 
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.current1:before {
    content:'Web Development $35/HR';
    position:absolute;
    top:0vw;
    left:0vw;
    height:100%;
    width:51%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    background-color:#1f93f2;
    transform:skew(0deg, -6deg);
}

.current1:after {
    content:'Linux OS Install & Config $35/HR';
    position:absolute;
    top:0vw;
    right:0vw;
    height:100%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    width:50%;
    background-color:#ffb726;
    transform:skew(0deg, 6deg);
}

@keyframes spinLeft {
    0% {transform:rotateY(0deg)}
    25% {transform:rotateY(90deg)}
    50% {transform:rotateY(180deg)}
    75% {transform:rotateY(270deg)}
    100% {transform:rotateY(360deg)}
}

@keyframes spinRight {
    0% {transform:rotateY(0deg)}
    25% {transform:rotateY(90deg)}
    50% {transform:rotateY(180deg)}
    75% {transform:rotateY(270deg)}
    100% {transform:rotateY(360deg)}
}

.consult {
    position:relative;
    width:280px;
    height:100px;
    border:0.4vw inset #2d42ff;
    background-color:#ffbc78;
    font-size:1.5vw;
    line-height:2vw;
    font-weight:600;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    font-family:righteous;
    letter-spacing:0.1vw;
    text-align:center;
    /* padding:0.5vw 1vw 1.5vw; */
    -webkit-text-fill-color:#583aff;
    -webkit-text-stroke:0.05vw #ff2d38;
    transform:translateY(0);
}

.consult:before {
    content:'"FREE CONSULTATION"';
}

.special-deals {
    position:relative;
    padding:0 0.25vw 1vw 0.25vw;
    width:95%;
    height:485px;
    display:none;
    margin:0 auto;
    opacity:0;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:column;
    align-items:center;
    transform:translateY(15%);
    border:0.1vw inset #2d42ff;
    background-image:linear-gradient(rgba(134,255,235, 0.4),rgba(106,232,224, 0.4)), url('../imgs/brand-01.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-clip:border-box;
    background-position:center center;
    background-attachment: local;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}


.deals {

    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width:inherit;
    height:inherit;
    h
} 

.dwkz {
    position:relative;
    padding:0.5vw;
    width:300px;
    height:110px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border:0.2vw inset;
    transform:translateY(0);
    border:0.4vw inset #2d42ff;
    background-color:#ffbc78;
    font-weight:600;
    margin:0 auto;
    font-family:righteous;
    letter-spacing:0.1vw;
    text-align:center;
    -webkit-text-fill-color:#583aff;
    -webkit-text-stroke:0.05vw #ff2d38;
    
}

    /* End Specials Content */
