
 .container-wrapper {
    position:relative;
    width:inherit;
    max-width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: ;

    }


.main-wrapper .main-rapper-billboard {
    
    position:absolute;
    z-index:10;
    top:1em;
    left:1em;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    transition:all 1000ms ease-in;
    }

.hamburger {
    position:relative;
    background-color:#d320d9;
    width:100%;
    height:20%;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #fff);
    }


.hamburger .hamB:hover,
.hamburger .hamB .hamb-1-btn:hover,
.hamburger .hamB .hamb-2-btn:hover {
    transition: all 500ms ease-in;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #38f091);
}

.hamburger .hamB .hamb-1-btn:hover {
    background-color:#4398ed;
}
.hamburger > #hamB-2 > .hamb-2-btn:hover{
    background-color:#f55535;
}

.hamburger > #hamB-2:hover { 
    background-color:#35f5af;
    transform: rotateZ(-180deg);
}

.hamburger > #hamB-1:hover {
    background-color:#f59445;
    transform: rotateZ(180deg);
}

.hamb-1-btn,
.hamb-2-btn {
    position:relative;
    background-color:#1fcbff;
    width:100%;
    height:20%;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #a91fff);
    }  

#hambBtn1-1 {
    border: 0.05vw solid #000;
    border-top-left-radius:0.4vw;
    border-top-right-radius:0.4vw;
    }

#hambBtn1-2 {
    border: 0.05vw solid #000;
    }

#hambBtn1-3 {
    border: 0.05vw solid #000;
    border-bottom-left-radius:0.4vw;
    border-bottom-right-radius:0.4vw;
    }

.hamB{
    flex-direction:column;
    justify-content:space-evenly;
    width:2.5rem;
    height:2.5rem;
    font-size:4em;
    border-radius:0.5rem;
    }

#hamB-1 {
    display:flex;
    text-shadow:0 0 0.2vw #ffffcc, 0 0 0.2vw #7d7dcc,0 0 0.2vw #000033;
    }

#hamB-2 {
    display:none;
    text-shadow:0 0 0.2vw #ff621f, 0 0 0.2vw #ffd21f,0 0 0.2vw #a91fff;
    }

.hamburger:hover {
    transform:rotate(180deg);
    cursor:pointer;
   }

header.socmed-list-title,  {
    position:relative;
    width:90vw;
    max-width:100%;
    max-height:10vw;
    text-align:center;
    margin:0 auto;
    }
  
header.socmed-list-title {border-radius: 0.5vw 0.5vw 0 0;}
footer.brand-footer-contact {border-radius: 0 0 0.5vw 0.5vw;}

h1.hdr-title {
    position:relative;
    font-size: 2em;
    font-weight:700;
    line-height:2em;
    font-family:righteous, sans-serif;
    letter-spacing:0.1vw;
    color:rgba(0,0,0, 0.8);
    text-shadow:0 0.035vw 0.05vw #ffffcc, 0 0.035vw 0.05vw #7d7dcc,0 0.035vw 0.05vw #000033;
    transform:translateY(-10%);
    }

h1.hdr-title::after {
    content:"dashWoorkz IT";
    -webkit-text-fill-color:#9ed5f0;
    -webkit-text-stroke:0.05vw #2c4ef5;
    }
h1.footer-socmed-title::after {
    content:"Social Media Influencers";
    -webkit-text-fill-color:#9ed5f0;
    -webkit-text-stroke:0.05vw #2c4ef5;
}

.body-container-body {
    height:84vw;
    position:relative;
    }
.body-container-header,
.body-container-footer {
    height:15vw;
    position:relative;
    }

.content-container {
    position:relative;
    min-width:75%;
    max-width: 100%;
    height:43vh;
    }

.content-brand {
    position:absolute;
    top:0;
    right:0;
    min-width:18.75vw;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
   }

.content-billboard {
    position:absolute;
    top:0;
    left:0;
    min-width:71.25vw;
    max-width:inherit;
    }

.content-brand, .content-billboard, header.footer-socmed-title {
    /* border: 0.2em solid #eee;
    background-color:#7d7db3; */
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    box-shadow:0 0 0 0.2vw #eeeeee;
    height:inherit;
    }

.content {
    position:relative;
    display:block;
    max-width:100%;
    height:43vh;
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    /* border: 0.2em solid #ddd;
    background-color:#7d7db3; */
    box-shadow:0 0 0 0.2vw #eeeeee;
    }

#content-box-1 {
    display:block;
    }

#content-box-2 {
    display:none;
    }

#content-box-3 {
    display:none;
    }

#content-box-4 {
    display:none;
    }

aside#navHide {
    position:relative;
    display:none;
    max-width:400px;
    height:100%;
    margin-left:-400px;
    max-height:85.5%;
    border: 0.2em solid #178dd6;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    /* border: 0.2em solid #eee;
    background-color:#8fcfe6; */
    box-shadow:0 0 0 0.2vw #eeeeee;
    z-index:10;
    }

    @keyframes entry {

        0% {
            height:0px;
        }

        25% {
            height:25%;
        }

        50% {
            height:50%;
        }

        75% {
            height:75%;
        }

        100% {
            height:100%;
        }
    }

    @keyframes fade1 {

        0% {
            height:0100%;
        }

        25% {
            height:75%;
        }

        50% {
            height:50%;
        }

        75% {
            height:25%;
        }

        100% {
            height:0px;
        }
    }


div, nav {
    position:relative;
    max-width:100%;
    }

nav {
    position:relative;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:0 auto;
    }

.side-nav {
    top:1.65em;
    }

.hdr-nav {
    transform:translateY(-50%);
    }

.nav-btn, .side-nav-btn {
    min-width:5em;
    max-width:100%;
    min-height:2rem;
    max-height:4rem;
    border: 0.2em solid #9ed5f0;
    background-color:#eee;
    background-image:linear-gradient(45deg, rgba(33,114,214, 0.1), rgba(68,122,196, 0.1) );
    box-shadow:0 0 0 0.2rem #282bf2;
    padding:0.1rem;
    -webkit-text-fill-color:#9ed5f0;
    -webkit-text-stroke:0.05vw #2c4ef5;
    }

.side-nav > .side-nav-btn:hover {
    transition: all 1000ms ease-in;
    transform: rotateZ(360deg);
    background-color:#4398ed;
    border: 0.2rem inset #38f091;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #29acf2);
    color:#f5a148;
    }

.hdr-nav > .nav-btn:hover {
    transition: all 1000ms ease-in;
    transform: rotateZ(360deg) scaleX(0.8);
    background-color:#4398ed;
    border: 0.2rem inset #38f091;
    filter:drop-shadow(0.08rem 0.08rem 0.08rem #f535b8);
    color:#f5a148;
    }

.nav-btn {
    color:#4c4a4d;
    font-size:1.2rem;
    font-weight:700;
    letter-spacing:0.1rem;
    padding:0.2vw;

    }

.side-nav-btn {
    border-radius:0.4rem;
    color:#2f6ba8;
    font-size:1rem;
    font-weight:700;
    letter-spacing:0.05rem;
    letter-spacing:0.1rem;
    padding:0.2vw;

    }

.hdr-nav #btn-1::before {
    content:"Home";
    }

.hdr-nav #btn-2::before {
    content:"Products";
    }

.hdr-nav #btn-3::before {
    content:"Services";
    }

.hdr-nav #btn-4::before {
    content:"About";
    }

.aside-nav #side-btn-1:before {
    content:"Contact";
    }

.aside-nav #side-btn-2:before {
    content:"Specials";
    }

.aside-nav #side-btn-3:before {
    content:"Events";
    }

.aside-nav #side-btn-4:before {
    content:"Staff";
    }

    /* Specials Content */

    .service {
    animation:expose 2000ms ease;
    animation-fill-mode:forwards;
    }

.events-list {
    position:relative;
    width:20rem;
    max-width:100%;
    height:30vw;
    max-height:100%;
    padding:1vw;
    display:none;
    justify-content:center;
    text-align:center;
    transform:translateY(17.5%);
    margin:0 auto;
    opacity:0;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}

.staff-list {
    position:relative;
    width:20rem;
    max-width:100%;
    height:30vw;
    max-height:100%;
    padding:1vw;
    display:none;
    justify-content:center;
    text-align:center;
    transform:translateY(17.5%);
    margin:0 auto;
    opacity:0;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}

 .current-events {
    position:relative;
    text-align:center;
    padding:12px;
    margin-bottom:6px;
    height:60px;
    width:200px;
}
 .current-events:before {
    content:'';
    position:absolute;
    left:0;
    height:100%;
    width:51%;
    transform:skew(0deg, 6deg);
}


.current-events:after {
    content:'';
    position:absolute;
    right:0;
    height:100%;
    width:50%;
    transform:skew(0deg, -6deg);
}

.current-events:before { 
    background-color:#f7af4b;
    top:3rem;
}
.current-events:after { top:0;background-color:#f7af4b;}

.current {
    position:relative;
    text-align:center;
    align-content:center;
    padding:12px;
    margin:0 auto;
    height:80px;
    width:240px;
    animation:spinRight 5000ms 2500ms infinite ease ;
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.current:before {
    content:'DNS Registration $19.99/YR';
    position:absolute;
    top:0vw;
    left:0vw;
    height:100%;
    width:51%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    background-color:#ffb726;
    transform:skew(0deg, 6deg);
}

.current:after {
    content:'Web Hosting As Low As $4/Mth';
    position:absolute;
    top:0vw;
    right:0vw;
    height:100%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    width:50%;
    background-color:#1f93f2;
    transform:skew(0deg, -6deg);
}
.current1 {
    position:relative;
    top:14px;
    text-align:center;
    padding:12px;
    margin:0 auto;
    height:80px;
    width:240px;
    animation:spinLeft 6000ms infinite ease ;
    animation-direction:reverse; 
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.current1:before {
    content:'Web Development $35/HR';
    position:absolute;
    top:0vw;
    left:0vw;
    height:100%;
    width:51%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    background-color:#1f93f2;
    transform:skew(0deg, -6deg);
}

.current1:after {
    content:'Linux OS Install & Config $35/HR';
    position:absolute;
    top:0vw;
    right:0vw;
    height:100%;
    box-shadow:0 0 0.1vw 0.1vw #98faf0;
    width:50%;
    background-color:#ffb726;
    transform:skew(0deg, 6deg);
}

@keyframes spinLeft {
    0% {transform:rotateY(0deg)}
    25% {transform:rotateY(90deg)}
    50% {transform:rotateY(180deg)}
    75% {transform:rotateY(270deg)}
    100% {transform:rotateY(360deg)}
}

@keyframes spinRight {
    0% {transform:rotateY(0deg)}
    25% {transform:rotateY(90deg)}
    50% {transform:rotateY(180deg)}
    75% {transform:rotateY(270deg)}
    100% {transform:rotateY(360deg)}
}

.consult {
    position:relative;
    width:280px;
    height:100px;
    border:0.4vw inset #2d42ff;
    background-color:#ffbc78;
    font-size:1.5vw;
    line-height:2vw;
    font-weight:600;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    font-family:righteous;
    letter-spacing:0.1vw;
    text-align:center;
    /* padding:0.5vw 1vw 1.5vw; */
    -webkit-text-fill-color:#583aff;
    -webkit-text-stroke:0.05vw #ff2d38;
    transform:translateY(0);
}

.consult:before {
    content:'"FREE CONSULTATION"';
}

.special-deals {
    position:relative;
    padding:0 0.25vw 1vw 0.25vw;
    width:95%;
    height:485px;
    display:none;
    margin:0 auto;
    opacity:0;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:column;
    align-items:center;
    transform:translateY(15%);
    border:0.1vw inset #2d42ff;
    background-image:linear-gradient(rgba(134,255,235, 0.4),rgba(106,232,224, 0.4)), url('../imgs/brand-01.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-clip:border-box;
    background-position:center center;
    background-attachment: local;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}


.deals {

    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width:inherit;
    height:inherit;
    h
} 

.dwkz {
    position:relative;
    padding:0.5vw;
    width:300px;
    height:110px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border:0.2vw inset;
    transform:translateY(0);
    border:0.4vw inset #2d42ff;
    background-color:#ffbc78;
    font-weight:600;
    margin:0 auto;
    font-family:righteous;
    letter-spacing:0.1vw;
    text-align:center;
    -webkit-text-fill-color:#583aff;
    -webkit-text-stroke:0.05vw #ff2d38;
    
}

    /* Contact Form */


.contact-form {
    position:relative;
    width:20rem;
    max-width:100%;
    height:35vw;
    max-height:100%;
    padding:1vw;
    display:none;
    justify-content:center;
    text-align:center;
    transform:translateY(11.5%);
    margin:0 auto;
    opacity:0;
    animation:expose 1000ms ease;
    animation-fill-mode:forwards;
}

@keyframes expose {
    0% {opacity:0;}
    25% {opacity:0.25;}
    50% {opacity:0.5;}
    75% {opacity:0.75;}
    100% {opacity:1.0;}

}

.contact-form h1 {
    -webkit-text-fill-color:#ff8235;
    -webkit-text-stroke:0.05vw #c42dff;
    font-size:1.5vw;
    line-height:1.5vw;
    font-weight:700;
    letter-spacing:0.1vw;
    text-shadow: 0 0.1vw 0.1vw #000, 0.1vw 0.1vw 0.1vw #b922ff;
    transform:translateY(-5%);
}

.contact-form h1::after {
    content:"Contact Us";
}

nav.btn-bar {
    display:flex;
    justify-content:center;
    align-content:center;
}

.btn {
    position:relative;
    width:9vw;
    height:3vw;
    background-color:#33fff8;
    border:0.2vw inset #2466ff;
    color:#fff;
    font-size:1.25rem;
    line-height:1.25rem;
    font-weight:700;
    letter-spacing:0.1vw;
    text-shadow: 0 0.1vw 0.1vw #000, 0.1vw 0.1vw 0.1vw #b922ff;
    transition: background-color 500ms, border 500ms, color 500ms, text-shadow 500ms, font-family 500ms, border-radius 300ms;
    border-radius:0.5vw;
    transform:translateX(0%);
}

.btn:hover {
    position:relative;
    width:9vw;
    height:3vw;
    background-color:#ff9225;
    border:0.2vw inset #2fff63;
    color:#000;
    font-size:1.25vw;
    line-height:1.25vw;
    font-weight:700;
    font-family:Righteous, sans-serif;
    letter-spacing:0.1vw;
    text-shadow: 0 0.1vw 0.1vw #fff, 0.1vw 0.1vw 0.1vw #2391ff;
    border-radius:0.8vw;
}

#form-btn-1:after {
    content:"Send Data";
}

form {
    position:relative;
   width:inherit;
   max-width:100%;
   position:absolute;
   transform:translateY(5%);
   left:0;
   height:auto;
   padding:1vw;
   border:0.3vw inset #ad42ff;
   background-color:rgba(143,207,230, 0.4);
}

form .field {
    position:relative;
    width:100%;
    height:4vw;
    margin-bottom:1.5vw;
    overflow:hidden;
   
}

.field input {
    width:100%;
    height:100%;
    color:#595f6e;
    padding-top:2.3vw;
    border:none;
    outline:none;
    
 }

.field label {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    border-bottom: 0.1vw groove #000;
}

.field label:after {
    content:"";
    position:absolute;
    left:0;
    bottom:-0.1vw;
    height:100%;
    width:100%;
     border-bottom:0.3vw inset #2930ff;
    transform:translate(-100%);
    transition: all 300ms ease;
}

/* First Name */
.content-fname {
    position:absolute;
    bottom:1.2vw;
    left:0;
    transition:all 300ms ease;
   
}

.field input:focus + .label-fname .content-fname,
.field input:valid + .label-fname .content-fname {
    transform: translate(125%,-95%);
    font-size:0.8vw;
    padding-left:0.25vw;
    -webkit-text-fill-color:#ff8235;
    -webkit-text-stroke:0.05vw #c42dff;
}

.field input:focus + .label-fname::after,
.field input:valid + .label-fname::after {
    transform:translate(0%);
}
.content-fname:after {
     content:"First Name:";
     font-size:1vw;
     font-weight:700;
     font-family:Poppins, sans-serif;
 }

/* Last Name */
.content-lname {
    position:absolute;
    bottom:1.2vw;
    left:0;
    transition:all 300ms ease;
}

.field input:focus + .label-lname .content-lname,
.field input:valid + .label-lname .content-lname {
    transform: translate(125%,-95%);
    font-size:0.8vw;
    padding-left:0.25vw;
    -webkit-text-fill-color:#ff8235;
    -webkit-text-stroke:0.05vw #c42dff;
}

.field input:focus + .label-lname::after,
.field input:valid + .label-lname::after {
    transform:translate(0%);
}
.content-lname:after {
    content:"Last Name:";
    font-size:1vw;
    font-weight:700;
    font-family:Poppins, sans-serif;
 }

/* Email Address */
.content-email {
    position:absolute;
    bottom:1.2vw;
    left:0;
    transition:all 300ms ease;
}

.field input:focus + .label-email .content-email,
.field input:valid + .label-email .content-email {
    transform: translate(275%,-95%);
    font-size:0.8vw;
    padding-left:0.25vw;
    -webkit-text-fill-color:#ff8235;
    -webkit-text-stroke:0.05vw #c42dff;
}

.field input:focus + .label-email::after,
.field input:valid + .label-email::after {
    transform:translate(0%);
}
.content-email:after {
    content:"Email:";
    font-size:1vw;
    font-weight:700;
    font-family:Poppins, sans-serif;
}

/* Company Name */
.content-company {
    position:absolute;
    bottom:1.2vw;
    left:0;
    transition:all 300ms ease;

}

.field input:focus + .label-company .content-company,
.field input:valid + .label-company .content-company {
    transform: translate(140%,-95%);
    font-size:0.8vw;
    padding-left:0.25vw;
    -webkit-text-fill-color:#ff8235;
    -webkit-text-stroke:0.05vw #c42dff;
    
}

.field input:focus + .label-company::after,
.field input:valid + .label-company::after {
    transform:translate(0%);
}
.content-company:after {
    content:"Company:";
     font-size:1vw;
    font-family:Poppins, sans-serif;
    font-weight:700;
 }

 /* End Contact Form */

 /* Flip Card */

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 22.75vw;
    height: 22.75vw;
  /*   perspective: 1000px; Remove this if you don't want the 3D effect */
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
        
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 5000ms ;
    transform-style: preserve-3d;
 
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card .flip-card-inner {
    animation: turnA 5000ms 500ms ease infinite;
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {

    background-color: #bbb;
    -webkit-text-fill-color:#25c8fa;
    -webkit-text-stroke:0.05vw #2c4ef5;

    
    letter-spacing:0.1vw;
    font-weight:700;
    text-align:center;
  }

  .flip-title {
      position:absolute;
      background-color:transparent !important;
      transform:translateX(32%);
  }

  /* Style the back side */
  .flip-card-back {
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    
  } 

  .flip-card-front img {

    width:inherit;
    height:inherit;
  }

  @keyframes turnA {

    0% {

        transform: rotateY(0deg);
    }

    40% {

        transform: rotateY(180deg);
    }

    60% {

        transform: rotateY(180deg);
    }

    80% {

        transform: rotateY(360deg);
    }

    100% {

        transform: rotateY(360deg);
    }

  }

 /* End Flip Card */

    /* End Specials Content */

    /* @media (max-width: 680px) {
        .soc-med-list {
            width:95%;
            order:3;
        }
        
        .accordiaon {
            width:100%;
            min-width: 21.875vw;
        }
        
        .tab .content p{
            font-size: 2.5vw;
            line-height:3vw;
        }
    }

    @media (max-width: 950px) {
        .container {
            width:70%;
        }
        
        .tab {
            display:block;
            width:100%;
            border-bottom: 0.1875vw #333  solid;
        }
        
        .accordion {
            display:block;
            min-width:28.125vw;
            height:auto;
        }
        
        .tab .content{
            width:85%;
        }
        
        .tab .content p{
            font-size: 2.1vw;
            line-height:2.5vw;
        }
        
        .tab:hover {
            width:100%
        }
        
    } */

    @media screen and (max-width: 316px) {



        .footer-socmed-title h1 {
            -webkit-text-fill-color:#5a52f0;
            -webkit-text-stroke:0.05vw #1919e0;
            margin-bottom:0.625vw;
            text-align:center;
            width:inherit;
            max-width:100%;
           
        }
    
        h1.footer-socmed-title::after {
            content:"Social Media Influencers";
            -webkit-text-fill-color:#2e1dcc !important; 
            -webkit-text-stroke:0.05vw #5a52f0 !important;
            font-weight:700;
            font-size:1vw;
        }

        .accordion {
            width:70%;
            margin:0 auto;
        }
    
       .soc-med {
            margin-bottom:1.5vw;
        }

        .social {
            height:100%;
        }

        .soc-med .soc-med-inf h1 {
            font-size:5vw;
        }

        .brand-footer-contact {
            display:flex;
            width:25vw;
            flex-direction:column;
            flex-wrap:wrap;

        }

        .time-clock, .quotes {
            width:25vw;
            height:7.5vw;
            border:0.3vw inset #72ffde;
            border-radius:1vw;
            z-index:5;
            position:relative;
            margin-top:1.75vw;
            filter:drop-shadow(0.5rem 0.5rem 0.5rem rgba(224,171,121 0.4));
        }
        .time-clock {
            order: 2;
            top:8%;
            left:0%;
            background-image:linear-gradient(45deg, rgba(255,98,111, 0.4), rgba(98,255,229, 0.4), rgba(187,255,98, 0.4));
           
        }
        .quotes {
            
            order: 1;
            top:8%;
            right:0%;
            background-image:linear-gradient(-45deg, rgba(255,98,111, 0.4), rgba(98,255,229, 0.4), rgba(187,255,98, 0.4));
           
        }
    
        .soc-med-list {
            width:70vw;
            order:3;
        }
    
    }
