* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    outline:none;
    }

body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    width:90vw;
    height:100vh;
    margin:0 auto;
    }

img {
    max-width: 100%;
    }

a {
    text-decoration: none;
    }

li {
    list-style-type: none;
    }

.container-wrapper {
    position:relative;
    width:100%;
    height:100%;
    }
 
.hidden-nav {
    position:absolute;
    z-index:10;
    top:1em;
    left:1em;
    transition:all 1000ms ease-in;
    }

.bar {
    position:relative;
    background-color:#d320d9;
    width:100%;
    height:20%;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #fff);
    }


.hidden-nav > .hamB:hover,
.hidden-nav > .hamB > .bar:hover,
.hidden-nav > .hamB > .barA:hover {
    transition: all 500ms ease-in;
    background-color:#4398ed;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #38f091);
    
}

.hidden-nav > #hamB2 > .barA:hover{
    background-color:#f55535;
}

.hidden-nav > #hamB2:hover { 
    background-color:#35f5af;
    transform: rotateZ(-180deg);
}

.hidden-nav > #hamB1:hover {
    background-color:#f59445;
    transform: rotateZ(180deg);
}

.barA {
    position:relative;
    background-color:#1fcbff;
    width:100%;
    height:20%;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #a91fff);
    }  

#bar-1 {
    border: 0.05vw solid #000;
    border-top-left-radius:0.4vw;
    border-top-right-radius:0.4vw;
    }

#bar-2 {
    border: 0.05vw solid #000;
    }

#bar-3 {
    border: 0.05vw solid #000;
    border-bottom-left-radius:0.4vw;
    border-bottom-right-radius:0.4vw;
    }

.hamB{
    flex-direction:column;
    justify-content:space-evenly;
    width:2.5rem;
    height:2.5rem;
    font-size:4em;
    border-radius:0.5rem;
    }

#hamB1 {
    display:flex;
    text-shadow:0 0 0.2vw #ffffcc, 0 0 0.2vw #7d7dcc,0 0 0.2vw #000033;
    }

#hamB2 {
    display:none;
    text-shadow:0 0 0.2vw #ff621f, 0 0 0.2vw #ffd21f,0 0 0.2vw #a91fff;
    }

.hidden-nav:hover {
    transform:rotate(180deg);
    cursor:pointer;
   }

header, footer, .container {
    position:relative;
    max-width:100%;
    }

header, footer {
    max-height:8vw;
    }

header {text-align:center;}

.hdr-title {
    position:relative;
    font-size: 2em;
    font-weight:700;
    line-height:2em;
    font-family:righteous, sans-serif;
    letter-spacing:0.1vw;
    color:rgba(0,0,0, 0.8);
    text-shadow:0 0.035vw 0.05vw #ffffcc, 0 0.035vw 0.05vw #7d7dcc,0 0.035vw 0.05vw #000033;
    transform:translateY(-10%);
    }

.hdr-title::after {
    content:"Site Template";
    }

.container {
    height:84vw;
    }

.content-container {
    position:relative;
    min-width:75%;
    max-width: 100%;
    height:43vh;
    }

.content-brand {
    position:absolute;
    top:0;
    left:0;
    min-width:30vw;
    max-width:100%;
   }

.content-billboard {
    position:absolute;
    top:0;
    right:0;
    min-width:70vw;
    max-width:inherit;
    }

.content-brand, .content-billboard, footer, header {
    border: 0.2em solid #eee;
    background-color:#7d7db3;
    box-shadow:0 0 0 0.2vw #eeeeee;
    height:inherit;
    }

.content {
    position:relative;
    display:block;
    max-width:100%;
    height:43vh;
    border: 0.2em solid #ddd;
    background-color:#7d7db3;
    box-shadow:0 0 0 0.2vw #eeeeee;
    }

#content-box-1 {
    display:block;
    }

#content-box-2 {
    display:none;
    }

#content-box-3 {
    display:none;
    }

#content-box-4 {
    display:none;
    }

aside#navHide {
    position:relative;
    display:none;
    max-width:400px;
    height:100%;
    margin-left:-400px;
    max-height:86%;
    border: 0.2em solid #eee;
    background-color:#8fcfe6;
    box-shadow:0 0 0 0.2vw #eeeeee;
    z-index:10;
    }

    @keyframes entry {

        0% {
            height:0px;
        }

        25% {
            height:25%;
        }

        50% {
            height:50%;
        }

        75% {
            height:75%;
        }

        100% {
            height:100%;
        }
    }

    @keyframes exit {

        0% {
            height:0100%;
        }

        25% {
            height:75%;
        }

        50% {
            height:50%;
        }

        75% {
            height:25%;
        }

        100% {
            height:0px;
        }
    }


div, nav {
    position:relative;
    max-width:100%;
    }

nav {
    position:relative;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:0 auto;
    }

.side-nav {
    top:1.65em;
    }

.hdr-nav {
    transform:translateY(-50%);
    }

.nav-btn, .side-nav-btn {
    min-width:5em;
    max-width:100%;
    min-height:2rem;
    max-height:4rem;
    border: 0.2rem outset #ddd;
    background-color:#ffeeee;
    box-shadow:0 0 0 0.2rem #eeeeee;
    padding:0.1rem;
    }

.side-nav > .side-nav-btn:hover {
    transition: all 1000ms ease-in;
    transform: rotateZ(360deg);
    background-color:#4398ed;
    border: 0.2rem inset #38f091;
    filter:drop-shadow(0.05rem 0.05rem 0.05rem #29acf2);
    color:#f5a148;
    }

.hdr-nav > .nav-btn:hover {
    transition: all 1000ms ease-in;
    transform: rotateZ(360deg) scaleX(0.8);
    background-color:#4398ed;
    border: 0.2rem inset #38f091;
    filter:drop-shadow(0.08rem 0.08rem 0.08rem #f535b8);
    color:#f5a148;
    }

.nav-btn {
    color:#4c4a4d;
    font-size:1.2rem;
    font-weight:700;
    letter-spacing:0.1rem;
    text-shadow:0 0.025rem 0.025rem #222f3d, 0 0.025rem 0.025rem #5c7282, 0 0.025rem 0.025rem #a1bcc9;
    }

.side-nav-btn {
    border-radius:0.4rem;
    color:#2f6ba8;
    font-size:1rem;
    font-weight:700;
    letter-spacing:0.05rem;
    text-shadow:0 0.025rem 0.025rem #bdb948, 0 0.025rem 0.025rem #8f6889, 0 0.025rem 0.025rem #184457;
    }

.hdr-nav #btn-1::before {
    content:"Home";
    }

.hdr-nav #btn-2::before {
    content:"Products";
    }

.hdr-nav #btn-3::before {
    content:"Services";
    }

.hdr-nav #btn-4::before {
    content:"About";
    }

.aside-nav #side-btn-1:before {
    content:"Contact";
    }

.aside-nav #side-btn-2:before {
    content:"Specials";
    }

.aside-nav #side-btn-3:before {
    content:"Events";
    }

.aside-nav #side-btn-4:before {
    content:"Staff";
    }